@media (max-width: 768px) {
    #containerID.inactive
    {
        margin-left:-50px;
        width:85%;
    }

    #sidebar
    {
        min-width:100vw;
        max-width:100vw;
    }

    #contentID
    {
        width:92vw;
    }

    #containerID.active
    {
        display:none;
    }

}

@media (max-width: 480px) {
    #containerID.inactive
    {
        width:80vw;
        margin-left:-50px;
    }

    #contentID
    {
        width:85vw;
        margin-left:18vw;
    }

    #jumbotronID.active
    {
        margin-left:-37vw;
        margin-top:-5vh;
    }
}

@media (max-width: 340px) {
    #containerID.inactive
    {
        width:80vw;
        margin-left:-40px;
    }

    #contentID
    {
        width:92vw;
    }
}